@font-face {
   font-family: 'kareudon';
   src: url('../recette/assets/fonts/kareudon/Rami.ttf') format('truetype');
   font-weight: 800;
   font-style: normal;
}

#titreRecette {
   font-family: 'kareudon', sans-serif;
   font-weight: bold;
   font-size: 55px;


}

.spanRouge {
   font-size: 90px;
   color: #610202;
}
.spanIngredients{
   font-size: 50px;
   color: #610202;
}

#sushi {
   width: 70%;
   height: 450px;
   border-radius: 20px;
   box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}
#ingredients{
   margin-left: 15%;
}

.iconeRond{
   width:25px;
   height:25px;
}
#sushiIngredients{
   height:75%;
   border-radius: 125px;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
   box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#sushiSteps{
   border-radius: 125px;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
}

.scrollList{
   max-height: 500px;
   overflow-y: auto;
}