body{
    background-image: url('back.jpg')!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#imgg{
   
    max-width: 100%;
    max-height: 95%;
}

#poulet, #pate, #sauce, #garni {
    font-size: 2em; 
    color: #FF6347; 
    font-weight: bold; 
    text-transform: uppercase; 
}

.ingre{
    font-size: 2em; 
}